{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "semi": "off",
    "no-console": "off",
    "linebreak-style": "off",
    "no-plusplus": "off",
    "eol-last":"off"
  }
}
